{
    "presets": [
        "es2015"
    ],
    "env": {
        "development": {
            "plugins": [
                "espower",
                "transform-runtime"
            ]
        }
    }
}
