version: 2
refs:
  - &defaults
    docker:
      - image: node:10-alpine
  - &install_git
    run: apk add --update --no-cache git openssh-client
  - &restore_cache
    key: dependency-{{ .Environment.CACHE_KEY }}-{{ checksum "yarn.lock" }}
  - &save_cache
    key: dependency-{{ .Environment.CACHE_KEY }}-{{ checksum "yarn.lock" }}
    paths:
      - ~/.cache/yarn

jobs:
  build:
    <<: *defaults
    steps:
      - *install_git
      - checkout
      - restore_cache: *restore_cache
      - run: yarn global add ci-yarn-upgrade
      - run: yarn install
      - run: yarn lint
      - run: yarn compile
      - run: ci-yarn-upgrade --latest --verbose
      - run: yarn test
      - save_cache: *save_cache
  yarn-upgrade:
    <<: *defaults
    steps:
      - *install_git
      - checkout
      - restore_cache: *restore_cache
      - run: yarn global add ci-yarn-upgrade
      - run: yarn install
      - run: ci-yarn-upgrade --execute --latest --verbose;
      - save_cache: *save_cache

workflows:
  version: 2
  build:
    jobs:
      - build
  scheculed-upgrade:
    triggers:
      - schedule:
          cron: "0 13 * * 3"
          filters:
            branches:
              only:
                - master
    jobs:
      - yarn-upgrade
